@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');
*{
    font-family: Roboto;
}
body {
    background-color: #222324;
}
body a {
    text-decoration: none;
}
li a:hover{
    color: black !important;
}
.mainnav .active{
    color: red!important;
}
.mainnav{
    padding: auto 100px !important;
}
.lead{
    font-weight: bold;
    padding: 10px 0 0 0;
}
.mainnav .active::after{
    content: '';
    background-color: red;
    height: 2px;
    display: block;
    margin-top: 5px;
}
.nav-item.navlist:not(.active) > .nav-link:hover::after {
    content: '';
    background-color: red;
    height: 2px;
    display: block;
    margin-top: 5px;
    color: white;
}
.nav-item a:hover{
    color: white !important;
}
.navlist{
    margin-right: 15px;
}
section.hero {
    margin-top: 60px !important;
    justify-content: center;
    background: rgb(0,35,36);
    background: linear-gradient(90deg, rgba(0,35,36,1) 0%, rgba(9,9,121,1) 15%, rgba(0,212,255,1) 100%);
}

section .text-label{
    font-size: 45px;
    font-weight: bold;
    padding: 20px 0;
    color: white;
}

section .text-hero-bold{
    font-weight: normal;
    color: white;
    margin: 20px 0;
}

.album-covers::after{
    content: '';
    height: 5px;
    display: block;
    width: 50%;
    margin-top: 15px;
    background: rgb(24,49,82);
    background: linear-gradient(90deg, rgba(24,49,82,0) 0%, rgba(44,200,229,1) 68%, rgba(0,212,255,0) 100%);
}
.album-covers{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center !important;
    color: white;
    margin: 40px 0 0px 0;
    font-size: 30px;
}
.text-white{
    color: white !important;
}
.album_cover {
    position: relative;
}
.music_lists{
    position: absolute;
    background-color: #000000bb;
    top: 0;
    left: 0;
    width: 200px;
    height: 200px;
    opacity: 0;
    transition: all .5s ease;
}
.music_lists:hover{
    opacity: 1;
    transition-delay: .1s;
}
.make_black li a:hover{
    color: black !important;
}
.the_icon{
    left: 50%;
    top: 50%;
    position: absolute;
    transform: translate(-50%, -50%);
    size: 200px;
}
.album-img{
    width: 200px;
    height: 200px;
    object-fit: cover;
}
.albums{
    flex-wrap: wrap;
}
.footer{
    display: flex;
    justify-content: center;
    align-items: center;
    color: white;
    padding: 10px;
    font-size: 17px;
    background: linear-gradient(90deg, rgba(24,49,82,0) 0%, rgba(44,200,229,1) 68%, rgba(0,212,255,0) 100%);
}


/* Albums Page */
.albums .text-label{
    font-size: 40px;
    font-weight: bold;
    padding: 20px 0 0 0;
    color: white;
}
.albums .text-hero-bold{
    font-weight: normal;
    color: wheat;
    /* margin: 20px 0; */
}
.small_img {
    width: 200px;
    height: 200px;
    /* translate: calc(50px); */
}
.album .col-md-9{
    display: flex;
    justify-content: center;
    align-items: center;
    color: white;
}
.album .text-label{
    padding: 0;
}
.album_image {
    width: 100%;
    border-radius: 10px;
    margin: 15px 0;
}
.album_container .text-label{
    font-size: 30px;
    margin-left: 10px;
    padding: 20px 0 0 0;
}
.album_details p {
    padding: 0 0 0 -10px;
    margin: 5px 0 0 -20px;
    color: white;
}
.smaller_img{
    width: 50px;
    height: 50px;
    object-fit: cover;
}
.song-small{
    background: rgb(0,0,0);
    background: linear-gradient(90deg, rgba(0,0,0,1) 0%, rgba(24,49,81,1) 15%, rgba(25,51,83,1) 67%, rgba(0,212,255,0) 100%);
    transition: all .3s ease;
}
.song-small:hover{
    border: solid thin grey;
    cursor: pointer;
    transform: translateY(-5px);
}

/* Ranks Page */
.album-cover{
    background: rgb(0,0,0);
    background: linear-gradient(90deg, rgba(0,0,0,1) 0%, rgba(24,49,81,1) 15%, rgba(25,51,83,1) 67%, rgba(0,212,255,0) 100%);
    transition: all .3s ease;
}
.smaller_img{
    width: 50px;
    height: 50px;
    object-fit: cover;
}
.album_img {
    width: 100px;
    height: 100px;
    object-fit: cover;
}
.users_review{
    border-radius: 10px;
    width: 70%;
    background-color: white;
    justify-content: center;
    margin: 20px auto;
    flex-direction: column;
}
.users_review:hover {
    border: solid thin grey;
    cursor: pointer;
    transform: translateY(-5px);
}
.give_review form {
    padding: 20px;
    /* background-color: black; */
}
.star{
    font-size: 3rem;
    color: yellow;
    background-color: unset;
    border: none;
}
.star:hover{
    cursor: pointer;
}
.start_rating{
    user-select: none;
}
.ratings{
    margin-top: 20px;
}
.comments{
    /* width: 80%; */
    padding: 0 70px;
}
.users_box {
    width: 110%;
    padding: 10px 200px 0 20px;
    margin: auto;
    justify-content: space-between;
    /* background-color: #fff; */
}
.bi-star-fill{
    color: yellow;
}
.review_images {
    width: 50px;
    height: 50px;
    border-radius: 50%;
}
.box_2 p{
    margin: 0;
}
.box_2 .names{
    padding-top: 10px;
    font-weight: bold;
}
.box_2 .rdate{
    font-weight: 200;
}
.profile_image{
    border-radius: 20px;
    margin: 20px;

}
.prof_conatner{
    display: flex;
    justify-content: center;
    justify-items: center;
    align-items: center;
    height: 80vh;
}
.prof_conatner .continer{
    display: flex;
    width: 50%;
    background-color: #fff;
    border-radius: 20px;
}
.prof_conatner .continer .details li{
    list-style-type: none;
    padding: 20px;
    margin-left: -70px;
}
.prof_conatner .continer .details{
    display: flex;
    align-items: center;
}
@media only screen and (max-width: 767px) {
    .login{
        width: 80%;
    }
    .login_links{
        display: flex;
        flex-direction: column;
        align-items: start !important;
    }

}
@media only screen and (max-width: 767px) {
    .prof_conatner .continer{
        width: 90%;
    }
    .prof_conatner .continer .details li{
        margin-left: -40px;
    }

}